/* vim: noexpandtab : */
img.ui-combobox-arrow {
	position: relative;
	vertical-align: text-bottom;
	top: 2px;
}

.ui-combobox-list {
	border: 1px solid black;
}

.ui-combobox-list, .ui-combobox-item {
	display: block;
	font-family: sans-serif;
	font-size: 80%;
	background-color: white;
}

.ui-combobox-item:hover {
	background-color: #eeeeff;
}
